# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Ambienti virtuali
.env
.venv

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Screenshots temporanei
output/*.png

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
